div.taggy li {
  font-size           : 14px;
  font-family         : Arial;
  line-height         : 12px;
  margin-top          : 5px;
  margin-right        : 3px;
  margin-bottom       : 5px;
  padding             : 3px 0 3px 5px;
  background-color    : #588A00;
  color               : white;
  cursor              : pointer;
  border-radius       : 3px;
  display             : inline-block;
}

div.taggy li.active,
div.taggy li:hover {
  background-color    : #3C6000;
}

a.taggy-remove-tag {
  font-family         : monospace;
  font-size           : 16px;
  line-height         : 10px;
  color               : #333333;
  margin-left         : 10px;
  background-color    : #507000;
  padding             : 0 3px 0 3px;
  border-radius       : 3px;

}

div.taggy input.taggy-new-tag {
}

div.taggy ul {
  width               : 400px;
  border              : 1px solid #999;
  box-shadow          : 0 2px 4px #999;
  border-radius       :3px;
}

div.taggy {
  width               : 400px;
}

ul.ui-menu {
  width               : 400px;
  border              : 1px solid black;
}

ul.ui-menu li {
  list-style-type: none;
}

a#ui-active-menuitem {
  background-color    : #DDDDDD;
}
